.recommendation-container{
    margin-top: 20px ;
    padding: 40px;
}

.recommendation-header{
    font-size: 32px;
    font-weight: 600;
}
.recommendation-list {
    margin-top: 30px;
    display: flex;
    overflow-x: scroll;
    gap: 10px;
}